
@{
    ViewBag.Title = "Add Stadium";
}

<h2>@ViewBag.Title</h2>

<form method="post" action="">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" id="name" placeholder="Please insert name of the stadium">
    </div>
    <div class="form-group">
        <label for="budget">square</label>
        <input type="text" class="form-control" name="square" id="capitalCity" placeholder="Please insert square of the stadium">
    </div>
    <button type="submit" class="btn btn-primary">Insert</button>
</form>

