
@{
    ViewBag.Title = "AddCountry";
}

<h2>@ViewBag.Title</h2>

<form method="post" action="">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" id="name" placeholder="Please insert name of the country">
    </div>
    <div class="form-group">
        <label for="budget">Capital city</label>
        <input type="text" class="form-control" name="capitalCity" id="capitalCity" placeholder="Please insert capital city of the country">
    </div>
    <button type="submit" class="btn btn-primary">Insert</button>
</form>

