
@{
    ViewBag.Title = "Add Game";
}

<h2>@ViewBag.Title</h2>

<form method="post" action="">
    <div class="form-group">
        <label for="sportType">SportType</label>
        <input type="text" class="form-control" name="sportType" placeholder="Please insert sport type of the game">
    </div>
    <div class="form-group">
        <label for="budget">team1</label>
        <input type="text" class="form-control" name="team1" placeholder="Please insert team1 of the game">
    </div>
    <div class="form-group">
        <label for="budget">team2</label>
        <input type="text" class="form-control" name="team2" placeholder="Please insert team2 of the game">
    </div>
    <button type="submit" class="btn btn-primary">Insert</button>
</form>

